/*****************************************************
* .none-input
******************************************************/

.none-input-Container {
}

.none-input-Parameters {
}

.none-input-Search {
}

.none-input-Submit {
}


/*****************************************************
* .none-option
******************************************************/

.none-option-Help {
}

.none-option-Legend {
}

.none-option-Title {
}

/*****************************************************
* .none-overlay
******************************************************/

.none-overlay-Blocker {
    background-color: rgba(0,0,0, 0.75);
}

.none-overlay-Close {
    background-color: #000;
    color: #fff;
}

.none-overlay-Close:hover {
    background-color: #ddd;
}

.none-overlay-Content {
}

.none-overlay-Dialog {
    background-color: #fff;
    box-shadow: 0 0 10px #000;
}

.none-overlay-Footer {
}

.none-overlay-Header {
    border-bottom-color: #ddd;
    background-color: #f5f5f5;
}

.none-overlay-Waiting {
}


/*****************************************************
* .none-panel
******************************************************/

.none-panel-ButtonGroup {
}

.none-panel-Columns {
}

.none-panel-Header {
    border-bottom-color: #ddd;
    background-color: #f5f5f5;
}

.none-panel-ListBody {
}

.none-panel-Section {
    border-color: #ddd;
}

.none-panel-Title {
}

.none-panel-Toolbar {
}


/*****************************************************
* .none-result
******************************************************/

.none-result-Container {
}

.none-result-FicheDisplay {
}

.none-result-Sidebar {
}