<section class="scrutari-client-nojs">
    #SET{url_moteur,#CONFIG{scrutari_client/moteurs/#ENV{moteur}/url}}
    #SET{url_attributs,#GET{url_moteur}'JSON?type=engine&data=attributes&lang='#ENV{lang}'&version=1'}
    <BOUCLE_tableau_attributs(DATA){source json, #GET{url_attributs}}>
    #SET{tableau_attributs,#VALEUR{attributes/primary}|initAttributIntituleMap}
    </BOUCLE_tableau_attributs>
    <div class="main">
        <h1 id="mainTitle"><:scrutari_client:title_main:>[ -  \[(#ENV{moteur})\]]</h1>
        #FORMULAIRE_RECHERCHE_SCRUTARI{#SELF}
        #SET{recherche,#ENV*{recherche_scrutari}|urlencode}
        #SET{url_requete,#GET{url_moteur}'JSON?type=q-fiche&fichefields=codecorpus,mtitre,msoustitre,mcomplements,annee,href,icon,mattrs_primary&motclefields=mlibelles&langui='#ENV{lang}'&intitules=complement&q='#GET{recherche}'&version=1'}
        <BOUCLE_recherche(DATA){source json, #GET{url_requete}}>
        #SET{tableau_mots, #VALEUR{motcleArray}|initMotcleStringMap}
        #SET{tableau_intitules_corpus, #VALEUR{corpusIntituleArray}|initCorpusIntituleMap}
        <BOUCLE_groupes(DATA){source tableau, #VALEUR{ficheGroupArray}}>
        <B_fiches>
        <div id="recherche_scrutari[_(#VALEUR{category/rank})]" class="recherche_scrutari[_(#VALEUR{category/rank})] liste resultats articles">
            #ANCRE_PAGINATION
            [<h2 class="h2">(#VALEUR{category/title}) <small>[((#VALEUR{ficheCount}))]</small></h2>]
            <BOUCLE_fiches(DATA){source tableau, #VALEUR{ficheArray}}{pagination 5 #VALEUR{category/rank}}>
            <div id="ficheBlock_#VALEUR{codefiche}" class="scrutari-fiche-Block">
                [<div class="scrutari-fiche-Icon">
                    <img src="(#VALEUR{icon})" alt="" />
                </div>]
                <p class="scrutari-fiche-Titre">
                    <a href="[(#VALEUR{href})]" id="ficheLink_#VALEUR{codefiche}" class="scrutari-fiche-Link">
                        [(#VALEUR{mtitre}|concatWithSpan)]
                    </a>
                </p>
                [<p class="scrutari-fiche-Soustitre">(#VALEUR{msoustitre}|concatWithSpan)</p>]
                [<p class="scrutari-fiche-Annee">(#VALEUR{annee})</p>]
                <BOUCLE_attributs(DATA){source object, #VALEUR{mattrMap}}>
                <B_valeurs_attribut>
                <p class="scrutari-fiche-Attribute">
                    <span class="scrutari-intitule-Attribute">[(#GET{tableau_attributs}|table_valeur{#CLE})]&nbsp;: </span>
                    <BOUCLE_valeurs_attribut(DATA){source tableau, #VALEUR}{', '}>
                    [(#VALEUR|concatWithSpan)]
                    </BOUCLE_valeurs_attribut>
                </p>
                </B_valeurs_attribut>
                </BOUCLE_attributs>
                <BOUCLE_champs_complementaires(DATA){source tableau, #VALEUR{mcomplementArray}}>
                <p class="scrutari-fiche-Complement">
                    <span class="scrutari-intitule-Complement">
                        [(#GET{tableau_intitules_corpus}|table_valeur{#_fiches:VALEUR{codecorpus}}|table_valeur{complement_#COMPTEUR_BOUCLE})&nbsp;: ]
                    </span>
                    [(#VALEUR{mcomp}|concatWithSpan)]
                </p>
                </BOUCLE_champs_complementaires>
                <B_mots>
                <p class="scrutari-fiche-Motcle">
                    [<span class="scrutari-intitule-Motcle">(#TOTAL_BOUCLE|singulier_ou_pluriel{scrutari_client:scrutari-motscles_un,scrutari_client:scrutari-motscles_plusieurs})&nbsp;:</span> ]
                    <BOUCLE_mots(DATA){source tableau, #VALEUR{codemotcleArray}}{', '}>
                    [(#GET{tableau_mots}|table_valeur{#VALEUR})]
                    </BOUCLE_mots>
                </p>
                </B_mots>
            </div>
            </BOUCLE_fiches>
            [<div class="pagination">(#PAGINATION)</div>]
        </div>
        </B_fiches>
        </BOUCLE_groupes>
        <p class="scrutari-links-Title"><:scrutari_client:links:></p>
        <p class="scrutari-export-Ods"><a href="#GET{url_moteur}export/result_[(#VALEUR{qId})]_#ENV{lang}.ods"><:scrutari_client:link_ods:></a></p>
        <p class="scrutari-export-Atom"><a href="#GET{url_moteur}feed/fiches_#ENV{lang}.atom?qid=[(#VALEUR{qId})]&amp;all=[(#DATE|affdate{Y-m-d})]"><:scrutari_client:link_atom:></a></p>
        </B_groupes>
        </BOUCLE_recherche>
    </div>
</section>
<link rel='stylesheet' type='text/css' href='#PRODUIRE{fond=css/scrutari_client_nojs.css}' />
