#SET{url_moteur,#CONFIG{scrutari_client/moteurs/#ENV{moteur}/url}}
<section>
    <div id="mainContainer" class="form-search"></div>
</section>
<link rel='stylesheet' type='text/css' href='#PRODUIRE{fond=css/scrutari_client.css}' />
[(#CONFIG{scrutari_client/framework_css,none}|=={none}|oui)<link rel='stylesheet' type='text/css' href='#PRODUIRE{fond=css/none.css}' />]
[(#CONFIG{scrutari_client/framework_css,none}|match{bootstrap}|oui)<link rel='stylesheet' type='text/css' href='#CHEMIN{lib/scrutarijs/frameworks/#CONFIG{scrutari_client/framework_css}.css}' />]
<script type="text/javascript">/*<![CDATA[*/
    $(function(){
		jQuery.getScript('[(#PRODUIRE{fond=javascript/scrutari_client.js,lang=#ENV{lang}}|compacte)]',function(){
            var scrutariConfig = new Scrutari.Config("#ENV{moteur}","#GET{url_moteur}", "#LANG", "spip-scrutari-client");
            Scrutari.Client.init(scrutariConfig, "mainContainer", {
                withCorpus: [(#CONFIG{scrutari_client/moteurs/#ENV{moteur}/corpus})],
                baseSort: "#CONFIG{scrutari_client/moteurs/#ENV{moteur}/base-sort}",
                corpusSort: "#CONFIG{scrutari_client/moteurs/#ENV{moteur}/corpus-sort}",
                initialQuery: "[(#ENV*{recherche_scrutari}|filtre_scrutari_echappement)]",
                initialQId: "#ENV{qid}",
                ficheTarget: "_blank",
                permalinkPattern: "[(#SELF|parametre_url{recherche|qid|lang,''}|parametre_url{moteur,#ENV{moteur},&}|url_absolue)]&qid=$QID&lang=$LANG"
            });
		});
	});
/*]]>*/</script>
<noscript>
#INCLURE{fond=inclure/scrutari_client_nojs,env}
</noscript>
