<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a></li>
	<li class="breadcrumb-item active"><span class="on active"><:scrutari_client:recherche_scrutari:></span></li>
</ul>
