<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class='titrem'><:scrutari_client:configurer_scrutari_client:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#SELF"><div>
		#ACTION_FORMULAIRE
		<fieldset>
			<legend>Configuration de l'URL</legend>
			<ul>
				<li class="configurer_url">
					<div class="choix[ (#ENV**{erreurs}|table_valeur{type_url}|oui)erreur]">
						<input type="radio" class="radio" name="type_url" id="type_url_groupe" value="groupe"[ (#ENV{type_url}|=={groupe}|oui)checked="checked"] />
						<label for="type_url_groupe">Groupe de moteurs</label>
						[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{type_url})</span>]
					</div>
					<ul class="suite">
						<li class="editer editer_url_groupe_moteurs[ (#ENV**{erreurs}|table_valeur{url_groupe_moteurs}|oui)erreur]">
							<label for="url_groupe_moteurs"><:scrutari_client:groupe_moteurs_url:></label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{url_groupe_moteurs})</span>
							]<input type="text" class="text" name="url_groupe_moteurs" id="url_groupe_moteurs" value="#ENV{url_groupe_moteurs}" />
						</li>
					</ul>
				</li>
				<li class="configurer_url">
					<div class="choix[ (#ENV**{erreurs}|table_valeur{type_url}|oui)erreur]">
						<input type="radio" class="radio" name="type_url" id="type_url_moteur" value="moteur"[ (#ENV{type_url}|=={moteur}|oui)checked="checked"] />
						<label for="type_url_moteur">Moteur</label>
						[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{type_url})</span>]
					</div>
					<ul class="suite">
						<li class="editer editer_url_moteur[ (#ENV**{erreurs}|table_valeur{url_moteur}|oui)erreur]">
							<label for="url_moteur">URL du moteur</label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{url_moteur})</span>
							]<input type="text" class="text" name="url_moteur" id="url_moteur" value="#ENV{url_moteur}" />
						</li>
					</ul>
				</li>
			</ul>
			<p class='boutons'><input class='submit' type="submit" name="valider_url" value="<:bouton_enregistrer:>" /></p>
		</fieldset>
		<fieldset>
			<legend><:scrutari_client:choix_moteur:></legend>
			<ul>
				<BOUCLE_groupe_moteurs(DATA){source json, #CONFIG{scrutari_client/url_groupe_moteurs}}>
				<BOUCLE_moteurs(DATA){source tableau, #VALEUR{engineArray}}>
				<li class='configurer_moteur'>
					<input type="hidden" name="moteurs[#VALEUR{name}][title]" value="#VALEUR{title}" />
					<input type="hidden" name="moteurs[#VALEUR{name}][description]" value="#VALEUR{description}" />
					<input type="hidden" name="moteurs[#VALEUR{name}][icon]" value="#VALEUR{icon}" />
					<input type="hidden" name="moteurs[#VALEUR{name}][website]" value="#VALEUR{website}" />
					<div class="choix">
					    <input type="checkbox" class="checkbox" name="moteurs[#VALEUR{name}][url]" id="moteurs_#VALEUR{name}_url" value="#VALEUR{url}" [(#ENV{moteurs/#VALEUR{name}/url}|=={#VALEUR{url}}|oui)checked="checked"] />
						<label for="moteurs_#VALEUR{name}_url">#VALEUR{title}</label>
						<p>[<strong>Description courte&nbsp;:</strong> (#VALEUR{description})][&nbsp;- <strong>Icone&nbsp;:</strong> (#VALEUR{icon})][&nbsp;- <strong>Site de référence&nbsp;:</strong> (#VALEUR{website})]</p>
					</div>
					<ul class="editer-groupe suite">
						<li class="editer editer_moteurs_#VALEUR{name}_corpus">
							<label for="moteurs_#VALEUR{name}_corpus">corpus</label>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#VALEUR{name}][corpus]" value="true" id="moteurs_#VALEUR{name}_corpus_oui" [(#ENV{moteurs/#VALEUR{name}/corpus,false}|=={true}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_corpus_oui">oui</label>
							</span>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#VALEUR{name}][corpus]" value="false" id="moteurs_#VALEUR{name}_corpus_non" [(#ENV{moteurs/#VALEUR{name}/corpus,false}|=={false}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_corpus_non">non</label>
							</span>
						</li>
						<li class="editer editer_moteurs_#VALEUR{name}_basesort">
							<label for="moteurs_#VALEUR{name}_basesort">base-sort</label>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#VALEUR{name}][base-sort]" value="fiche-count" id="moteurs_#VALEUR{name}_basesort_fichecount" [(#ENV{moteurs/#VALEUR{name}/base-sort,fiche-count}|=={fiche-count}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_basesort_fichecount">fiche-count</label>
							</span>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#VALEUR{name}][base-sort]" value="none" id="moteurs_#VALEUR{name}_basesort_none" [(#ENV{moteurs/#VALEUR{name}/base-sort,fiche-count}|=={none}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_basesort_none">none</label>
							</span>
						</li>
						<li class="editer editer_moteurs_#VALEUR{name}_corpussort">
							<label for="moteurs_#VALEUR{name}_corpussort">corpus-sort</label>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#VALEUR{name}][corpus-sort]" value="fiche-count" id="moteurs_#VALEUR{name}_corpussort_fichecount" [(#ENV{moteurs/#VALEUR{name}/corpus-sort,fiche-count}|=={fiche-count}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_corpussort_fichecount">fiche-count</label>
							</span>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#VALEUR{name}][corpus-sort]" value="none" id="moteurs_#VALEUR{name}_corpussort_none" [(#ENV{moteurs/#VALEUR{name}/corpus-sort,fiche-count}|=={none}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_corpussort_none">none</label>
							</span>
						</li>
						<li class="editer editer_moteurs_#VALEUR{name}_defaut">
							<span class="choix">
								[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{defaut})</span>]
								<input type="checkbox" class="checkbox choix-defaut" name="moteurs[#VALEUR{name}][defaut]" value="oui" id="moteurs_#VALEUR{name}_defaut" [(#ENV{moteurs/#VALEUR{name}/defaut}|=={oui}|oui)checked="checked"] />
								<label for="moteurs_#VALEUR{name}_defaut">Moteur par défaut</label>
							</span>
						</li>
					</ul>
				</li>
				</BOUCLE_moteurs>
				</BOUCLE_groupe_moteurs>
				<BOUCLE_moteur(DATA){source json, #CONFIG{scrutari_client/url_moteur}JSON?type=engine&data=metadata&version=1}{si #CONFIG{scrutari_client/url_moteur}|oui}>
				[(#SET{name, [(#CONFIG{scrutari_client/url_moteur}|parse_url|table_valeur{path}|explode{/}|array_reverse|table_valeur{1})]})]
				#SET{metas,#ARRAY{}}
				<BOUCLE_metadata(DATA){source object, #VALEUR{metadata}}>
				#SET{metas, #GET{metas}|array_merge{#ARRAY{#CLE,#VALEUR}}}
				</BOUCLE_metadata>
				<li class='configurer_moteur'>
					<input type="hidden" name="moteurs[#GET{name}][title]" value="[(#GET{metas}|table_valeur{title})]" />
					<input type="hidden" name="moteurs[#GET{name}][description]" value="[(#GET{metas}|table_valeur{description})]" />
					<input type="hidden" name="moteurs[#GET{name}][icon]" value="[(#GET{metas}|table_valeur{icon})]" />
					<input type="hidden" name="moteurs[#GET{name}][website]" value="[(#GET{metas}|table_valeur{website})]" />
					<div class="choix">
					    <input type="checkbox" class="checkbox" name="moteurs[#GET{name}][url]" id="moteurs_#GET{name}_url" value="#CONFIG{scrutari_client/url_moteur}" [(#ENV{moteurs/#GET{name}/url}|=={#CONFIG{scrutari_client/url_moteur}}|oui)checked="checked"] />
						<label for="moteurs_#GET{name}_url">[(#GET{metas}|table_valeur{title})]</label>
						<p>[<strong>Description courte&nbsp;:</strong> (#GET{metas}|table_valeur{description})][&nbsp;- <strong>Icone&nbsp;:</strong> (#GET{metas}|table_valeur{icon})][&nbsp;- <strong>Site de référence&nbsp;:</strong> (#GET{metas}|table_valeur{website})]</p>
					</div>
					<ul class="editer-groupe suite">
						<li class="editer editer_moteurs_#GET{name}_corpus">
							<label for="moteurs_#GET{name}_corpus">corpus</label>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#GET{name}][corpus]" value="true" id="moteurs_#GET{name}_corpus_oui" [(#ENV{moteurs/#GET{name}/corpus,false}|=={true}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_corpus_oui">oui</label>
							</span>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#GET{name}][corpus]" value="false" id="moteurs_#GET{name}_corpus_non" [(#ENV{moteurs/#GET{name}/corpus,false}|=={false}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_corpus_non">non</label>
							</span>
						</li>
						<li class="editer editer_moteurs_#GET{name}_basesort">
							<label for="moteurs_#GET{name}_basesort">base-sort</label>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#GET{name}][base-sort]" value="fiche-count" id="moteurs_#GET{name}_basesort_fichecount" [(#ENV{moteurs/#GET{name}/base-sort,fiche-count}|=={fiche-count}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_basesort_fichecount">fiche-count</label>
							</span>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#GET{name}][base-sort]" value="none" id="moteurs_#GET{name}_basesort_none" [(#ENV{moteurs/#GET{name}/base-sort,fiche-count}|=={none}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_basesort_none">none</label>
							</span>
						</li>
						<li class="editer editer_moteurs_#GET{name}_corpussort">
							<label for="moteurs_#GET{name}_corpussort">corpus-sort</label>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#GET{name}][corpus-sort]" value="fiche-count" id="moteurs_#GET{name}_corpussort_fichecount" [(#ENV{moteurs/#GET{name}/corpus-sort,fiche-count}|=={fiche-count}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_corpussort_fichecount">fiche-count</label>
							</span>
							<span class="choix">
								<input type="radio" class="radio" name="moteurs[#GET{name}][corpus-sort]" value="none" id="moteurs_#GET{name}_corpussort_none" [(#ENV{moteurs/#GET{name}/corpus-sort,fiche-count}|=={none}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_corpussort_none">none</label>
							</span>
						</li>
						<li class="editer editer_moteurs_#GET{name}_defaut">
							<span class="choix">
								[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{defaut})</span>]
								<input type="checkbox" class="checkbox choix-defaut" name="moteurs[#GET{name}][defaut]" value="oui" id="moteurs_#GET{name}_defaut" [(#ENV{moteurs/#GET{name}/defaut}|=={oui}|oui)checked="checked"] />
								<label for="moteurs_#GET{name}_defaut">Moteur par défaut</label>
							</span>
						</li>
					</ul>
				</li>
				</BOUCLE_moteur>
				<li class="configurer_moteur">
					<input type="hidden" name="moteurs[spip][title]" value="Sur le site" />
					<div class="choix">
					    <input type="checkbox" class="checkbox" name="moteurs[spip][url]" id="moteurs_spip_url" value="spip" [(#ENV{moteurs/spip/url}|=={spip}|oui)checked="checked"] />
						<label for="moteurs_spip_url">Recherche sur le site</label>
					</div>
					<ul class="editer-groupe suite">
						<li class="editer editer_moteurs_spip_defaut">
							<span class="choix">
								[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{defaut})</span>]
								<input type="checkbox" class="checkbox choix-defaut" name="moteurs[spip][defaut]" value="oui" id="moteurs_spip_defaut" [(#ENV{moteurs/spip/defaut}|=={oui}|oui)checked="checked"] />
								<label for="moteurs_spip_defaut">Moteur par défaut</label>
							</span>
						</li>
					</ul>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend><:scrutari_client:choix_framework_css:></legend>
			<ul>
				<li class="editer editer_framework_css">
					<BOUCLE_frameworks(DATA){source tableau, #ENV{liste_frameworks}}>
					<span class="choix">
						<input type="radio" class="radio" name="framework_css" value="#VALEUR" id="framework_css_#VALEUR" [(#ENV{framework_css}|=={#VALEUR}|oui)checked="checked"] />
						<label for="framework_css_#VALEUR">#VALEUR</label>
					</span>
					</BOUCLE_frameworks>
				</li>
			</ul>
		</fieldset>
		<p class='boutons'><input class='submit' type="submit" name="valider_moteurs" value="<:bouton_enregistrer:>" /></p>
	</div></form>

</div>
<script type="text/javascript">
function choix_change(input,suite,vitesse){
	if (typeof vitesse=="undefined") vitesse='fast';
	if (input.prop('checked')) {
		if (input.attr('type') == 'radio') {
			jQuery('.configurer_url .suite').each(function() {
				jQuery(this).hide(vitesse);
			});
		}
		suite.show(vitesse);
	}
	else {
		suite.hide(vitesse);
	}
};
jQuery(
	function(){
		jQuery('.suite').each(
			function(){
				var input=jQuery(this).prev('.choix').find('input');
				var me = jQuery(this);
				var id = input.attr('id');
				if (input.length){
					choix_change(input,me,'');
					jQuery("input#"+id).change(function(){choix_change(input,me);});
				}
			}
		);
		var choix_defaut = jQuery('.choix-defaut');
		choix_defaut.change(function(){
			if (jQuery(this).prop('checked')) {
				choix_defaut.not(this).removeAttr('checked');
			}
		});
	}
);
</script>
