<div class="formulaire_spip formulaire_recherche_scrutari form-search[ (#ENV{class})]">
<form action="#ENV{action}" method="get"><div>
    [(#ENV{action}|form_hidden)]
	[<input type="hidden" name="lang" value="(#ENV{lang})" />]
    <label for="#ENV{_id_champ}" class="muted"><:info_rechercher_02:></label>
	<div class="input-append">
        <input type="[(#HTML5|?{search,text})]" class="search text search-query" name="recherche_scrutari" id="#ENV{_id_champ}"[ value="(#ENV{recherche_scrutari})"] accesskey="4" autocapitalize="off" autocorrect="off" />
	    <button type="submit" title="<:info_rechercher|attribut_html:>"><:bouton_valider:></button>
    </div>
</div></form>
</div>
