#SET{plusieurs_moteurs,non}
<BOUCLE_plusieurs_moteurs(DATA){source table, #CONFIG{scrutari_client/moteurs}}{1,1}>#SET{plusieurs_moteurs,oui}</BOUCLE_plusieurs_moteurs>
<div class="formulaire_spip formulaire_recherche formulaire_recherche_scrutari_etendue form-search[ (#ENV{class})]">
<form action="#ENV{action}" method="get"><div>
    #ACTION_FORMULAIRE
	[<input type="hidden" name="lang" value="(#ENV{lang})" />]
    [(#REM)Si un seul moteur, on ne le propose pas à la sélection et si aucun moteur, on utilise spip]
    <BOUCLE_un_moteur(DATA){source table, #CONFIG{scrutari_client/moteurs}}{si #GET{plusieurs_moteurs}|=={non}}>
    <input type="hidden" name="moteur" value="#CLE" />
    </BOUCLE_un_moteur>
    <input type="hidden" name="moteur" value="spip" />
    <//B_un_moteur>
    <ul>
        <li class="editer_recherche">
			<label for="#ENV{_id_champ}" class="muted"><:info_rechercher_02:></label>
            <input type="[(#HTML5|?{search,text})]" class="search text search-query" name="recherche_scrutari" id="#ENV{_id_champ}"[ value="(#ENV{recherche_scrutari})"] accesskey="4" autocapitalize="off" autocorrect="off" />
        </li>
        <B_moteurs>
		<li class="editer_etendue">
            <BOUCLE_moteurs(DATA){source table, #CONFIG{scrutari_client/moteurs}}{si #GET{plusieurs_moteurs}|=={oui}}>
            [(#VALEUR{defaut}|=={oui}|oui)#SET{defaut,#CLE}]
            <div class="choix">
                <input type="radio" class="radio" name='moteur' value='#CLE' id='moteur_#CLE' [ (#ENV{moteur,#GET{defaut}}|=={#CLE}|oui)checked="checked"] />
	        	<label for='moteur_#CLE'>[(#VALEUR{title})]</label>
            </div>
            </BOUCLE_moteurs>
		</li>
        </B_moteurs>
	</ul>
	<p><button type="submit" class="btn"><:bouton_valider:></button></p>
</div></form>
</div>
