[(#AUTORISER{configurer,scrutari_client}|sinon_interdire_acces)]
<h1 class="grostitre"><:scrutari_client:titre_scrutari_client:></h1>
<div class="ajax">
	#FORMULAIRE_CONFIGURER_SCRUTARI_CLIENT
</div>
