<!-- {{main}} (/) (default) -->
<!-- {{area-title}} (/main/) (framework) -->
<div data-scrutari-area="title" class="scrutari-area-Title">
    <div class="row">
        <div class="col-12">
            <p class="scrutari-title-Main" data-scrutari-title="main"></p>
        </div>
    </div>
</div>
<!-- {{/area-title}} -->
<!-- {{main-form}} (/main/) (default) -->
<form data-scrutari-form="mainsearch">
    <!-- {{area-input}} (/main/main-form/) (framework) -->
    <div data-scrutari-area="input">
        <div class="row">
            <div class="col-md-8 col-lg-7">
                <div class="input-group">
                    <input type="text" class="form-control" size="50" name="q" value="">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <span>_ button_submit</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ml-md-auto text-right">
                <button type="button" data-scrutari-button="parametersDisplay" class="scrutari-Hidden btn btn-primary" data-toggle="button" data-scrutari-state="off">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                    </svg>
                    <span>_ button_parameters</span>
                </button>
            </div>
        </div>
    </div>
    <!-- {{/area-input}} -->
    <!-- {{area-parameters}} (/main/main-form/) (framework) -->
    <div data-scrutari-area="parameters" class="scrutari-area-Parameters scrutari-Hidden">
        <!-- {{panel-options}} (/main/main-form/area-parameters/) (framework) -->
        <div class="card scrutari-panel-Div" data-scrutari-panel="options">
            <div class="card-header">
                <p class="scrutari-panel-Title" data-toggle="collapse" data-target="[data-scrutari-block='optionsPanelBody']">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wrench" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
                    </svg>
                    _ title_options
                </p>
            </div>
            <div class="card-body p-2 collapse" data-scrutari-block="optionsPanelBody">
                <div class="row">
                    <div class="col-sm-4">
                        <p>_ mode_title<br/><button data-scrutari-button="showModal" data-scrutari-target="help_mode" type="button" class="btn btn-primary btn-xs" title="_ mode_help">?</button></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="intersection" checked> _ mode_intersection</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="union"> _ mode_union</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="operation"> _ mode_operation</label></p>
                        <p><label class="scrutari-Label"><input type="checkbox" name="wildchar" value="end" checked> _ wildchar_end</label></p>
                    </div>
                    <div class="col-sm-4">
                        <p>_ ponderation_title<br/><button data-scrutari-button="showModal" data-scrutari-target="help_ponderation" type="button" class="btn btn-primary btn-xs" title="_ ponderation_help">?</button></p>
                        <p><label class="scrutari-Label"><input type="radio" name="ponderation" value="pertinence" checked> _ ponderation_pertinence</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="ponderation" value="date"> _ ponderation_date</label></p>
                    </div>
                    <div class="col-sm-4">
                        <p>_ periode_title<br/><button data-scrutari-button="showModal" data-scrutari-target="help_periode" type="button" class="btn btn-primary btn-xs" title="_ periode_help">?</button></p>
                        <p><input type="text" class="scrutari-input-Text" name="periode" value="" size="20"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- {{/panel-options}} -->
        <!-- {{panel-corpus}} (/main/main-form/area-parameters/) (framework) -->
        <div class="card scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="corpus">
            <div class="card-header">
                <p class="scrutari-panel-Title" data-toggle="collapse" data-target="[data-scrutari-block='corpusPanelBody']">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                    </svg>
                    _ title_filter_corpus <span data-scrutari-label="corpusFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="card-body p-2 scrutari-panel-WithTools collapse" data-scrutari-block="corpusPanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar mb-2">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="corpus" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="corpus" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="corpus" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-corpus}} -->
        <!-- {{panel-base}} (/main/main-form/area-parameters/) (framework) -->
        <div class="card scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="base">
            <div class="card-header">
                <p class="scrutari-panel-Title" data-toggle="collapse" data-target="[data-scrutari-block='basePanelBody']">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                    </svg>
                    _ title_filter_base <span data-scrutari-label="baseFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="card-body p-2 scrutari-panel-WithTools collapse" data-scrutari-block="basePanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar mb-2">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="base" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="base" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="base" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-base}} -->
        <!-- {{panel-lang}} (/main/main-form/area-parameters/) (framework) -->
        <div class="card scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="lang">
            <div class="card-header">
                <p class="scrutari-panel-Title" data-toggle="collapse" data-target="[data-scrutari-block='langPanelBody']">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                    </svg>
                    _ title_filter_lang <span data-scrutari-label="langFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="card-body p-2 scrutari-panel-WithTools collapse" data-scrutari-block="langPanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar mb-2">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="lang" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="lang" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="lang" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-lang}} -->
        <!-- {{panel-category}} (/main/main-form/area-parameters/) (framework) -->
        <div class="card scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="category">
            <div class="card-header">
                <p class="scrutari-panel-Title" data-toggle="collapse" data-target="[data-scrutari-block='categoryPanelBody']">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                    </svg>
                    _ title_filter_category <span data-scrutari-label="categoryFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="card-body p-2 scrutari-panel-WithTools collapse" data-scrutari-block="categoryPanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar mb-2">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="category" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="category" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="category" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-category}} -->
        <div class="scrutari-area-Resubmit">
            <button type="submit" class="btn btn-primary">
                <span>_ button_resubmit</span>
            </button>
        </div>
    </div>
    <!-- {{/area-parameters}} -->
</form>
<!-- {{/main-form}} -->
<!-- {{area-stats}} (/main/) (framework) -->
<div data-scrutari-area="stats" class="scrutari-area-Stats">
    <div class="row">
        <div class="col-12">
             <!-- {{stats-table}} (/main/area-stats/) (default) -->
             <table class="scrutari-stats-Table">
                 <!-- {{stats-global}} (/main/area-stats/stats-table/) (default) -->
                 <tr class="scrutari-Hidden" data-scrutari-hidden="init" data-scrutari-count="stats-global">
                     <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_global_title">_ stats_global_short</abbr></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
                 </tr>
                 <!-- {{/stats-global}} -->
                 <!-- {{stats-filter}} (/main/area-stats/stats-table/) (default) -->
                 <tr class="scrutari-Hidden" data-scrutari-hidden="filter" data-scrutari-count="stats-filter">
                     <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_filter_title">_ stats_filter_short</abbr></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Titles"><span data-scrutari-role="titles"></span></td>
                 </tr>
                 <!-- {{/stats-filter}} -->
                 <!-- {{stats-result}} (/main/area-stats/stats-table/) (default) -->
                 <tr class="scrutari-Hidden" data-scrutari-hidden="start" data-scrutari-count="stats-result"> 
                     <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_result_title">_ stats_result_short</abbr></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
                 </tr>
                 <!-- {{/stats-result}} -->
              </table>
             <!-- {{/stats-table}} -->
        </div>
    </div>
</div>
<!-- {{/area-stats}} -->
<!-- {{area-result}} (/main/) (framework) -->
<div data-scrutari-area="result" class="scrutari-area-Result">
    <div class="row scrutari-Hidden" data-scrutari-hidden="threshold">
        <div class="col-12">
            <!-- {{result-subsearch}} (/main/area-result/) (framework) -->
            <form data-scrutari-form="subsearch">
                <p class="scrutari-subsearch-Title">_ title_subsearch</p>
                <p class="scrutari-subsearch-Form input-group">
                    <input type="text" class="form-control" size="50" name="q">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <span>_ button_subsearch</span>
                        </button>
                    </div>
                </p>
            </form>
            <!-- {{/result-subsearch}} -->
        </div>
    </div>
    <div class="row">
        <div class="col-12" data-scrutari-block="ficheDisplay">
        </div>
        <div class="col-12">
            <div class="scrutari-Hidden" data-scrutari-hidden="empty">
                <!-- {{result-links}} (/main/area-result/) (default) -->
                <p class="scrutari-links-Title">_ title_share</p>
                <p class="scrutari-links-Permalink">
                    <a href="#" data-scrutari-link="permalink" target="_blank" title="_ link_permalink" ></a>
                </p>
                <p class="scrutari-links-Title">_ title_download</p>
                <p>
                    <a href="#" data-scrutari-link="ods" target="_blank" title="_ link_ods" class="scrutari-links-ButtonLike">ods</a>
                    <a href="#" data-scrutari-link="csv" target="_blank" title="_ link_csv" class="scrutari-links-ButtonLike">csv</a>
                </p>
                <p class="scrutari-links-Title">_ title_feed</p>
                <p>
                    <a href="#" data-scrutari-link="atom" target="_blank" title="_ link_atom" class="scrutari-links-ButtonLike">atom</a>
                </p>
                <!-- {{/result-links}} -->
            </div>
            <!-- {{result-history}} (/main/area-result/) (default) -->
            <div class="scrutari-Hidden" data-scrutari-hidden="start">
                <p class="scrutari-links-Title">_ title_history</p>
                <div data-scrutari-block="historyList">
                </div>
            </div>
            <!-- {{/result-history}} -->
        </div>
    </div>
    <div class="row scrutari-Hidden" data-scrutari-hidden="empty">
        <div class="col-12">
            <!-- {{result-poweredby}} (/main/area-result/) (default) -->
            <p class="scrutari-links-Poweredby"><a href="http://www.scrutari.net" target="_blank"><span class="scrutari-icon-Logo"></span> _ link_poweredby</a></p>
            <!-- {{/result-poweredby}} -->
        </div>
    </div>
</div>
<!-- {{/area-result}} -->
{{modal-*}}<!-- {{/main}} -->
