<!-- {{main}} (/) (default) -->
<!-- {{area-title}} (/main/) (framework) -->
<div data-scrutari-area="title" class="scrutari-area-Title">
    <div class="row">
        <div class="col-xs-12">
            <p class="scrutari-title-Main" data-scrutari-title="main"></p>
        </div>
    </div>
</div>
<!-- {{/area-title}} -->
<!-- {{main-form}} (/main/) (default) -->
<form data-scrutari-form="mainsearch">
    <!-- {{area-input}} (/main/main-form/) (framework) -->
    <div data-scrutari-area="input">
        <div class="row">
            <div class="col-md-8 col-lg-7">
                    <input type="text" class="scrutari-input-Text" size="50" name="q" value="">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> <span>_ button_submit</span>
                    </button>
            </div>
            <div class="col-md-4 col-lg-offset-1">
                <button type="button" data-scrutari-button="parametersDisplay" class="scrutari-Hidden btn btn-primary" data-toggle="button" data-scrutari-state="off">
                    <span class="glyphicon glyphicon-cog"></span> <span>_ button_parameters</span>
                </button>
            </div>
        </div>
    </div>
    <!-- {{/area-input}} -->
    <!-- {{area-parameters}} (/main/main-form/) (framework) -->
    <div data-scrutari-area="parameters" class="scrutari-area-Parameters scrutari-Hidden">
        <!-- {{panel-options}} (/main/main-form/area-parameters/) (framework) -->
        <div class="panel panel-default scrutari-panel-Div" data-scrutari-panel="options">
            <div class="panel-heading scrutari-panel-Heading">
                <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='optionsPanelBody']">
                    <span class="glyphicon glyphicon-wrench"></span> _ title_options
                </p>
            </div>
            <div class="panel-body collapse" data-scrutari-block="optionsPanelBody">
                <div class="row">
                    <div class="col-sm-3">
                        <p>_ mode_title<br/><button data-scrutari-button="showModal" data-scrutari-target="help_mode" type="button" class="btn btn-primary btn-xs" title="_ mode_help"><span class="glyphicon glyphicon-question-sign"></span></button></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="intersection" checked> _ mode_intersection</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="union"> _ mode_union</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="operation"> _ mode_operation</label></p>
                        <p><label class="scrutari-Label"><input type="checkbox" name="wildchar" value="end" checked> _ wildchar_end</label></p>
                    </div>
                    <div class="col-sm-3">
                        <p>_ ponderation_title<br/><button data-scrutari-button="showModal" data-scrutari-target="help_ponderation" type="button" class="btn btn-primary btn-xs" title="_ ponderation_help"><span class="glyphicon glyphicon-question-sign"></span></button></p>
                        <p><label class="scrutari-Label"><input type="radio" name="ponderation" value="pertinence" checked> _ ponderation_pertinence</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="ponderation" value="date"> _ ponderation_date</label></p>
                    </div>
                    <div class="col-sm-3">
                        <p>_ periode_title<br/><button data-scrutari-button="showModal" data-scrutari-target="help_periode" type="button" class="btn btn-primary btn-xs" title="_ periode_help"><span class="glyphicon glyphicon-question-sign"></span></button></p>
                        <p><input type="text" class="scrutari-input-Text" name="periode" value="" size="20"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- {{/panel-options}} -->
        <!-- {{panel-corpus}} (/main/main-form/area-parameters/) (framework) -->
        <div class="panel panel-default scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="corpus">
            <div class="panel-heading scrutari-panel-Heading">
                <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='corpusPanelBody']">
                    <span class="glyphicon glyphicon-filter"></span> _ title_filter_corpus <span data-scrutari-label="corpusFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="panel-body scrutari-panel-WithTools collapse" data-scrutari-block="corpusPanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="corpus" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="corpus" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="corpus" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-corpus}} -->
        <!-- {{panel-base}} (/main/main-form/area-parameters/) (framework) -->
        <div class="panel panel-default scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="base">
            <div class="panel-heading scrutari-panel-Heading">
                <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='basePanelBody']">
                    <span class="glyphicon glyphicon-filter"></span> _ title_filter_base <span data-scrutari-label="baseFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="panel-body scrutari-panel-WithTools collapse" data-scrutari-block="basePanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="base" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="base" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="base" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-base}} -->
        <!-- {{panel-lang}} (/main/main-form/area-parameters/) (framework) -->
        <div class="panel panel-default scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="lang">
            <div class="panel-heading scrutari-panel-Heading">
                <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='langPanelBody']">
                    <span class="glyphicon glyphicon-filter"></span> _ title_filter_lang <span data-scrutari-label="langFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="panel-body scrutari-panel-WithTools collapse" data-scrutari-block="langPanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="lang" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="lang" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="lang" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-lang}} -->
        <!-- {{panel-category}} (/main/main-form/area-parameters/) (framework) -->
        <div class="panel panel-default scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="category">
            <div class="panel-heading scrutari-panel-Heading">
                <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='categoryPanelBody']">
                    <span class="glyphicon glyphicon-filter"></span> _ title_filter_category <span data-scrutari-label="categoryFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </p>
            </div>
            <div class="panel-body scrutari-panel-WithTools collapse" data-scrutari-block="categoryPanelBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="category" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" data-scrutari-button="checkAll" data-scrutari-target="category" class="btn btn-primary" disabled>_ button_check_all</button>
                                <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="category" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                </div>
            </div>
        </div>
        <!-- {{/panel-category}} -->
        <div class="scrutari-area-Resubmit">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> <span>_ button_resubmit</span>
            </button>
        </div>
    </div>
    <!-- {{/area-parameters}} -->
</form>
<!-- {{/main-form}} -->
<!-- {{area-stats}} (/main/) (framework) -->
<div data-scrutari-area="stats" class="scrutari-area-Stats">
    <div class="row">
        <div class="col-md-8 col-lg-7">
             <!-- {{stats-table}} (/main/area-stats/) (default) -->
             <table class="scrutari-stats-Table">
                 <!-- {{stats-global}} (/main/area-stats/stats-table/) (default) -->
                 <tr class="scrutari-Hidden" data-scrutari-hidden="init" data-scrutari-count="stats-global">
                     <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_global_title">_ stats_global_short</abbr></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
                 </tr>
                 <!-- {{/stats-global}} -->
                 <!-- {{stats-filter}} (/main/area-stats/stats-table/) (default) -->
                 <tr class="scrutari-Hidden" data-scrutari-hidden="filter" data-scrutari-count="stats-filter">
                     <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_filter_title">_ stats_filter_short</abbr></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Titles"><span data-scrutari-role="titles"></span></td>
                 </tr>
                 <!-- {{/stats-filter}} -->
                 <!-- {{stats-result}} (/main/area-stats/stats-table/) (default) -->
                 <tr class="scrutari-Hidden" data-scrutari-hidden="start" data-scrutari-count="stats-result"> 
                     <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_result_title">_ stats_result_short</abbr></td>
                     <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
                 </tr>
                 <!-- {{/stats-result}} -->
              </table>
             <!-- {{/stats-table}} -->
        </div>
    </div>
</div>
<!-- {{/area-stats}} -->
<!-- {{area-result}} (/main/) (framework) -->
<div data-scrutari-area="result" class="scrutari-area-Result">
    <div class="row scrutari-Hidden" data-scrutari-hidden="threshold">
        <div class="col-md-8 col-lg-7">
            <!-- {{result-subsearch}} (/main/area-result/) (framework) -->
            <form data-scrutari-form="subsearch">
                <p class="scrutari-subsearch-Title">_ title_subsearch</p>
                <p class="scrutari-subsearch-Form">
                    <input type="text" class="scrutari-input-Text" size="50" name="q">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> <span>_ button_subsearch</span>
                    </button>
                </p>
            </form>
            <!-- {{/result-subsearch}} -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-7" data-scrutari-block="ficheDisplay">
        </div>
        <div class="col-md-4 col-lg-offset-1">
            <div class="scrutari-Hidden" data-scrutari-hidden="empty">
                <!-- {{result-links}} (/main/area-result/) (default) -->
                <p class="scrutari-links-Title">_ title_share</p>
                <p class="scrutari-links-Permalink">
                    <a href="#" data-scrutari-link="permalink" target="_blank" title="_ link_permalink" ></a>
                </p>
                <p class="scrutari-links-Title">_ title_download</p>
                <p>
                    <a href="#" data-scrutari-link="ods" target="_blank" title="_ link_ods" class="scrutari-links-ButtonLike">ods</a>
                    <a href="#" data-scrutari-link="csv" target="_blank" title="_ link_csv" class="scrutari-links-ButtonLike">csv</a>
                </p>
                <p class="scrutari-links-Title">_ title_feed</p>
                <p>
                    <a href="#" data-scrutari-link="atom" target="_blank" title="_ link_atom" class="scrutari-links-ButtonLike">atom</a>
                </p>
                <!-- {{/result-links}} -->
            </div>
            <!-- {{result-history}} (/main/area-result/) (default) -->
            <div class="scrutari-Hidden" data-scrutari-hidden="start">
                <p class="scrutari-links-Title">_ title_history</p>
                <div data-scrutari-block="historyList">
                </div>
            </div>
            <!-- {{/result-history}} -->
        </div>
    </div>
    <div class="row scrutari-Hidden" data-scrutari-hidden="empty">
        <div class="col-xs-12">
            <!-- {{result-poweredby}} (/main/area-result/) (default) -->
            <p class="scrutari-links-Poweredby"><a href="http://www.scrutari.net" target="_blank"><span class="scrutari-icon-Logo"></span> _ link_poweredby</a></p>
            <!-- {{/result-poweredby}} -->
        </div>
    </div>
</div>
<!-- {{/area-result}} -->
{{modal-*}}<!-- {{/main}} -->
