<!-- {{main}} (/) (default) -->
<!-- {{area-title}} (/main/) (default) -->
<div data-scrutari-area="title" class="scrutari-area-Title">
    <p class="scrutari-title-Main" data-scrutari-title="main"></p>
</div>
<!-- {{/area-title}} -->
<!-- {{main-form}} (/main/) (default) -->
<form data-scrutari-form="mainsearch">
    <!-- {{area-input}} (/main/main-form/) (framework) -->
    <div data-scrutari-area="input">
        <div class="none-input-Container">
            <div class="none-input-Search">
                <input type="text" class="scrutari-input-Text" size="40" name="q" value="">
            </div>
            <div class="none-input-Submit">
                <button type="submit">_ button_submit</button>
            </div>
            <div class="none-input-Parameters">
                <button type="button" data-scrutari-button="parametersDisplay" class="scrutari-Hidden" data-scrutari-state="off">
                    _ button_parameters
                </button>
            </div>
        </div>
    </div>
    <!-- {{/area-input}} -->
    <!-- {{area-parameters}} (/main/main-form/) (default) -->
    <div data-scrutari-area="parameters" class="scrutari-area-Parameters scrutari-Hidden">
        <!-- {{panel-options}} (/main/main-form/area-parameters/) (framework) -->
        <section class="none-panel-Section" data-scrutari-panel="options">
            <header class="none-panel-Header">
                <h1 class="none-panel-Title" data-scrutari-button="toggleBlock" data-scrutari-state="off" data-scrutari-target="optionsPanelBody">
                    _ title_options
                </h1>
            </header>
            <div class="scrutari-Hidden" data-scrutari-block="optionsPanelBody">
                <div class="none-panel-Columns">
                    <div>
                        <p class="none-option-Legend"><span class="none-option-Title">_ mode_title</span><button class="none-option-Help" data-scrutari-button="showModal" data-scrutari-target="help_mode" type="button" title="_ mode_help">?</button></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="intersection" checked> _ mode_intersection</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="union"> _ mode_union</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="q-mode" value="operation"> _ mode_operation</label></p>
                        <p><label class="scrutari-Label"><input type="checkbox" name="wildchar" value="end" checked> _ wildchar_end</label></p>
                    </div>
                    <div>
                        <p class="none-option-Legend"><span class="none-option-Title">_ ponderation_title</span><button class="none-option-Help" data-scrutari-button="showModal" data-scrutari-target="help_ponderation" type="button" title="_ ponderation_help">?</button></p>
                        <p><label class="scrutari-Label"><input type="radio" name="ponderation" value="pertinence" checked> _ ponderation_pertinence</label></p>
                        <p><label class="scrutari-Label"><input type="radio" name="ponderation" value="date"> _ ponderation_date</label></p>
                    </div>
                    <div>
                        <p class="none-option-Legend"><span class="none-option-Title">_ periode_title</span><button class="none-option-Help" data-scrutari-button="showModal" data-scrutari-target="help_periode" type="button" title="_ periode_help">?</button></p>
                        <p><input type="text" class="scrutari-input-Text" name="periode" value="" size="20"></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- {{/panel-options}} -->
        <!-- {{panel-corpus}} (/main/main-form/area-parameters/) (framework) -->
        <section class="none-panel-Section scrutari-Hidden" data-scrutari-panel="corpus">
            <header class="none-panel-Header">
                <h1 class="none-panel-Title" data-scrutari-button="toggleBlock" data-scrutari-state="off" data-scrutari-target="corpusPanelBody">
                    _ title_filter_corpus <span data-scrutari-label="corpusFilter" class="scrutari-panel-State scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </h1>
            </header>
            <div class="none-panel-ListBody scrutari-Hidden" data-scrutari-block="corpusPanelBody">
                <div class="none-panel-Toolbar">
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="corpus" data-scrutari-state="off">
                            <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                        </button>
                    </span>
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="checkAll" data-scrutari-target="corpus" disabled>_ button_check_all</button>
                        <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="corpus" disabled>_ button_uncheck_all</button>
                    </span>
                </div>
                <div class="none-panel-Columns">
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="corpusColumns"></div>
                </div>
            </div>
        </section>
        <!-- {{/panel-corpus}} -->
        <!-- {{panel-base}} (/main/main-form/area-parameters/) (framework) -->
        <section class="none-panel-Section scrutari-Hidden" data-scrutari-panel="base">
            <header class="none-panel-Header">
                <h1 class="none-panel-Title" data-scrutari-button="toggleBlock" data-scrutari-state="off" data-scrutari-target="basePanelBody">
                    _ title_filter_base <span data-scrutari-label="baseFilter" class="scrutari-panel-State scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </h1>
            </header>
            <div class="none-panel-ListBody scrutari-Hidden" data-scrutari-block="basePanelBody">
                <div class="none-panel-Toolbar">
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="base" data-scrutari-state="off">
                            <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                        </button>
                    </span>
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="checkAll" data-scrutari-target="base" disabled>_ button_check_all</button>
                        <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="base" disabled>_ button_uncheck_all</button>
                    </span>
                </div>
                <div class="none-panel-Columns">
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="baseColumns"></div>
                </div>
            </div>
        </section>
        <!-- {{/panel-base}} -->
        <!-- {{panel-lang}} (/main/main-form/area-parameters/) (framework) -->
        <section class="none-panel-Section scrutari-Hidden" data-scrutari-panel="lang">
            <header class="none-panel-Header">
                <h1 class="none-panel-Title" data-scrutari-button="toggleBlock" data-scrutari-state="off" data-scrutari-target="langPanelBody">
                     _ title_filter_lang <span data-scrutari-label="langFilter" class="scrutari-panel-State scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </h1>
            </header>
            <div class="none-panel-ListBody scrutari-Hidden" data-scrutari-block="langPanelBody">
                <div class="none-panel-Toolbar">
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="lang" data-scrutari-state="off">
                            <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                        </button>
                    </span>
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="checkAll" data-scrutari-target="lang" disabled>_ button_check_all</button>
                        <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="lang" disabled>_ button_uncheck_all</button>
                    </span>
                </div>
                <div class="none-panel-Columns">
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
                </div>
            </div>
        </section>
        <!-- {{/panel-lang}} -->
        <!-- {{panel-category}} (/main/main-form/area-parameters/) (framework) -->
        <section class="none-panel-Section scrutari-Hidden" data-scrutari-panel="category">
            <header class="none-panel-Header">
                <h1 class="none-panel-Title" data-scrutari-button="toggleBlock" data-scrutari-state="off" data-scrutari-target="categoryPanelBody">
                    _ title_filter_category <span data-scrutari-label="categoryFilter" class="scrutari-panel-State scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
                </h1>
            </header>
            <div class="none-panel-ListBody scrutari-Hidden" data-scrutari-block="categoryPanelBody">
                <div class="none-panel-Toolbar">
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="enablePanel" data-scrutari-target="category" data-scrutari-state="off">
                            <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                        </button>
                    </span>
                    <span class="none-panel-ButtonGroup">
                        <button type="button" data-scrutari-button="checkAll" data-scrutari-target="category" disabled>_ button_check_all</button>
                        <button type="button" data-scrutari-button="uncheckAll" data-scrutari-target="category" disabled>_ button_uncheck_all</button>
                    </span>
                </div>
                <div class="none-panel-Columns">
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                    <div class="scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
                </div>
            </div>
        </section>
        <!-- {{/panel-category}} -->
        <div class="scrutari-area-Resubmit">
            <button type="submit">_ button_resubmit</button>
        </div>
    </div>
    <!-- {{/area-parameters}} -->
</form>
<!-- {{/main-form}} -->
<!-- {{area-stats}} (/main/) (default) -->
<div data-scrutari-area="stats" class="scrutari-area-Stats">
    <!-- {{stats-table}} (/main/area-stats/) (default) -->
    <table class="scrutari-stats-Table">
        <!-- {{stats-global}} (/main/area-stats/stats-table/) (default) -->
        <tr class="scrutari-Hidden" data-scrutari-hidden="init" data-scrutari-count="stats-global">
            <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_global_title">_ stats_global_short</abbr></td>
            <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
        </tr>
        <!-- {{/stats-global}} -->
        <!-- {{stats-filter}} (/main/area-stats/stats-table/) (default) -->
        <tr class="scrutari-Hidden" data-scrutari-hidden="filter" data-scrutari-count="stats-filter">
            <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_filter_title">_ stats_filter_short</abbr></td>
            <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
            <td class="scrutari-stats-Cell scrutari-stats-Titles"><span data-scrutari-role="titles"></span></td>
        </tr>
        <!-- {{/stats-filter}} -->
        <!-- {{stats-result}} (/main/area-stats/stats-table/) (default) -->
        <tr class="scrutari-Hidden" data-scrutari-hidden="start" data-scrutari-count="stats-result"> 
            <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_result_title">_ stats_result_short</abbr></td>
            <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-role="value"></span></td>
        </tr>
        <!-- {{/stats-result}} -->
     </table>
    <!-- {{/stats-table}} -->
</div>
<!-- {{/area-stats}} -->
<!-- {{area-result}} (/main/) (framework) -->
<div data-scrutari-area="result" class="scrutari-area-Result">
    <div class="none-result-Container">
        <div class="none-result-FicheDisplay" data-scrutari-block="ficheDisplay">
        </div>
        <div class="none-result-Sidebar">
            <div class="scrutari-Hidden" data-scrutari-hidden="empty">
                <!-- {{result-links}} (/main/area-result/) (default) -->
                <p class="scrutari-links-Title">_ title_share</p>
                <p class="scrutari-links-Permalink">
                    <a href="#" data-scrutari-link="permalink" target="_blank" title="_ link_permalink" ></a>
                </p>
                <p class="scrutari-links-Title">_ title_download</p>
                <p>
                    <a href="#" data-scrutari-link="ods" target="_blank" title="_ link_ods" class="scrutari-links-ButtonLike">ods</a>
                    <a href="#" data-scrutari-link="csv" target="_blank" title="_ link_csv" class="scrutari-links-ButtonLike">csv</a>
                </p>
                <p class="scrutari-links-Title">_ title_feed</p>
                <p>
                    <a href="#" data-scrutari-link="atom" target="_blank" title="_ link_atom" class="scrutari-links-ButtonLike">atom</a>
                </p>
                <!-- {{/result-links}} -->
            </div>
            <!-- {{result-history}} (/main/area-result/) (default) -->
            <div class="scrutari-Hidden" data-scrutari-hidden="start">
                <p class="scrutari-links-Title">_ title_history</p>
                <div data-scrutari-block="historyList">
                </div>
            </div>
            <!-- {{/result-history}} -->
        </div>
    </div>
    <div class="scrutari-Hidden" data-scrutari-hidden="threshold">
        <!-- {{result-subsearch}} (/main/area-result/) (default) -->
        <form data-scrutari-form="subsearch">
            <p class="scrutari-subsearch-Title">_ title_subsearch</p>
            <input type="text" class="scrutari-input-Text" size="40" name="q">
            <button type="submit">_ button_subsearch</button>
        </form>
        <!-- {{/result-subsearch}} -->
    </div>
    <div class="scrutari-Hidden" data-scrutari-hidden="empty">
        <!-- {{result-poweredby}} (/main/area-result/) (default) -->
        <p class="scrutari-links-Poweredby"><a href="http://www.scrutari.net" target="_blank"><span class="scrutari-icon-Logo"></span> _ link_poweredby</a></p>
        <!-- {{/result-poweredby}} -->
    </div>
</div>
<!-- {{/area-result}} -->
{{modal-*}}<!-- {{/main}} -->
