/*****************************************************
* .none-input
******************************************************/

.none-input-Container {
    margin-bottom: 5px;
}

.none-input-Search {
    display: inline-block;
}

.none-input-Submit {
    display: inline-block;
}

@media (min-width: 768px) {
    
    .none-input-Container {
        display: flex;
        align-items: center;
    }
    
    .none-input-Search {
        display: block;
        flex-grow: 9;
    }
    
    .none-input-Search > input {
        width: 100%;
    }
    
    .none-input-Submit {
        display: block;
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    .none-input-Parameters {
        flex-basis: 34%; 
        width: 34%;    
    }
    
    .none-input-Parameters > button {
        width: 100%;
    }
}


/*****************************************************
* .none-overlay
******************************************************/

.none-overlay-Blocker {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;  height: 100%;
    overflow: hidden;
    z-index: 10000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.none-overlay-Close {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}

.none-overlay-Content {
    min-width: 20vw;
    max-width: 90vw;
    max-height: 70vh;
    overflow: auto;
    padding: 10px 20px;
    font-size: 0.9rem;
}

.none-overlay-Dialog {
    position: relative;
    box-sizing: border-box;
    max-width: 700px;
}

.none-overlay-Footer {
    padding: 0 0 8px 0;
}

.none-overlay-Header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 20px 10px;
}

.none-overlay-Waiting {
    cursor: wait;   
}


/*****************************************************
* .none-panel
******************************************************/

.none-panel-Columns {
    display: flex;
}

.none-panel-Columns > div {
    width: 25%;
}

.none-panel-Columns p {
    margin: 0;
}

.none-panel-Header {
    padding-top : 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.none-panel-ListBody {
    padding-top : 3px;
}

.none-panel-Section {
    margin-bottom: 0;
    border-width: 1px;
    border-style: solid;
}

.none-panel-Title {
    margin: 0;
    font-size: 1.0em;
    line-height: 1.1;
    cursor: pointer;
    font-weight: normal;
}


/*****************************************************
* .none-result
******************************************************/

@media (min-width: 768px) {
    .none-result-Container {
        display: flex;
    }

    .none-result-FicheDisplay {
        width: 66%;    
    }

    .none-result-Sidebar {
        width: 34%;    
    }
}
